<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358758820966-67iv65gi330g3rlf79lmtd81qifekght.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358758820966-67iv65gi330g3rlf79lmtd81qifekght</string>
	<key>API_KEY</key>
	<string>AIzaSyB-_g4jSszPqUSzciZM7QzhbXbEw8YcTIA</string>
	<key>GCM_SENDER_ID</key>
	<string>358758820966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bigmannotes</string>
	<key>PROJECT_ID</key>
	<string>note-down-254</string>
	<key>STORAGE_BUCKET</key>
	<string>note-down-254.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358758820966:ios:0bde76515b95fa0e7191a7</string>
</dict>
</plist>